<% layout('layout') -%>
<!--去掉 layout-small-menu 左侧会预留出广告空白-->
<div class="app layout-fixed-header layout-small-menu">
    <div class=main-panel>
        <% include blogHeader.ejs %>
        <!--主板版开始-->
        <div class="main-content">
            <div class="eq-col">
                <div class="relative full-height">
                    <div class="display-row">
                        <div class="center-wrapper error-page">
                            <div class="center-content text-center">
                                <div class="error-number">
                                    <span>404</span>
                                </div>
                                <div class="h5">PAGE NOT FOUND</div>
                                <p>Sorry, but the page you were trying to view does not
                                    exist.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--主面板结束-->
    </div>
    <footer class=content-footer>
        <nav class=footer-right>
            <ul class=nav>
                <li><a href=javascript:;>回到起点</a></li>
                <li><a href=javascript:; class=scroll-up> <i
                        class="fa fa-angle-up"></i>
                </a></li>
            </ul>
        </nav>
        <nav class=footer-left>
            <ul class=nav>
                <li><a href=javascript:;>Copyright <i
                        class="fa fa-copyright"></i> <span>Gitture</span>  <%= permit %>
                </a></li>
                <!--<li><a href=javascript:;>Careers</a></li>-->
                <li><a href=javascript:;> <%= brand %> </a></li>
            </ul>
        </nav>
    </footer>

</div>
