extends layout

block content
    // 去掉 layout-small-menu 左侧会预留出广告空白
    .app.layout-fixed-header.usersession
      .full-height
        .center-wrapper.text-center
          .center-content
            .error-number
              i.fa.fa-warning.show
              |  
              span 500
            |                 
            .mb15.mt15.bold SERVER ERROR
            |                 
            p.small
              | We&apos;re experiencing an internal server problem. 
              br
              | Please try
              |                     again later or contact 
              a(href='mailto:mail@contact.tld') mail@contact.tld
