<% layout('layout') -%>
<!--去掉 layout-small-menu 左侧会预留出广告空白-->
<div class="app layout-fixed-header layout-small-menu">
    <div class=main-panel>
        <% include blogHeader.ejs %>
        <!--主板版开始-->

        <!--主面板结束-->
    </div>
    <% include footer.ejs %>

</div>

