<footer class=content-footer>
    <nav class=footer-right>
        <ul class=nav>
            <li><a href=javascript:;>回到起点</a></li>
            <li><a href=javascript:; class=scroll-up> <i
                            class="fa fa-angle-up"></i>
                </a></li>
        </ul>
    </nav>
    <nav class=footer-left>
        <ul class=nav>
            <li><a href=javascript:;>Copyright <i
                            class="fa fa-copyright"></i> <span>Gitture</span> 2016. All rights
                    reserved
                </a></li>
            <!--<li><a href=javascript:;>Careers</a></li>-->
            <li><a href=javascript:;> Giture </a></li>
        </ul>
    </nav>
</footer>