<!DOCTYPE html>
<html class=no-js>
<head>
    <meta charset=utf-8>
    <title>giture</title>
    <meta name=description content="">
    <meta name=viewport content="width=device-width">
    <!--<link rel="shortcut icon" href=/favicon.ico>-->
    <link rel=stylesheet href=/stylesheets/urban/climacons-font.css>
    <link rel=stylesheet href=../public/vendor/urban/rickshaw/rickshaw.min.css>
    <link rel=stylesheet href=/stylesheets/urban/app.min.css>
    <link rel=stylesheet href=/stylesheets/markdown/styles/default.css>
    <script src=/javascripts/urban/app.min.js></script>
<body>

</body>