extends layout

block content
    .app.layout-fixed-header.bg-white.usersession
      .full-height
        .center-wrapper
          .center-content
            .row.no-margin
              .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
                form.form-layout(role='form', action='')
                  .text-center.mb15
                    img(src='../images/logo-dark.png')
                  |                             
                  p.text-center.mb30
                    | Welcome to Urban. Please sign in
                    | to your account
                  |                             
                  .form-inputs
                    input.form-control.input-lg(type='email', placeholder='Email Address')
                    |  
                    input.form-control.input-lg(type='password', placeholder='Password')
                  |                             
                  button.btn.btn-success.btn-block.btn-lg.mb15(type='submit')
                    span Sign in
                  |                             
                  p
                    a(href='extras-signup.html') Create an account
                    |  &middot; 
                    a(href='extras-forgot.html') Forgot your password?
