doctype html
html.no-js
  head
    meta(charset='utf-8')
    |     
    title giture
    |     
    meta(name='description', content='')
    |     
    meta(name='viewport', content='width=device-width')
    // <link rel="shortcut icon" href=/favicon.ico>
    link(rel='stylesheet', href='../css/urban/climacons-font.css')
    |     
    link(rel='stylesheet', href='../vendor/urban/rickshaw/rickshaw.min.css')
    |     
    link(rel='stylesheet', href='../css/urban/app.min.css')
    |     
    script(src='../js/urban/app.min.js')
  body
    // 去掉 layout-small-menu 左侧会预留出广告空白
    .app.layout-fixed-header.layout-small-menu
      .main-panel
        // TODO:css样式写到组件
        // 导航栏开始
        // css设置position属性为fixed的定位是相对于浏览器窗口定位的,absolute是固定的(绝对的)
        header.header.navbar.bg-dark-light(style='padding-left: 0px;left: 0px;margin-left: 0px; color: #fff;background-color: #575c72;position: absolute')
          // brand visible-xs 响应式栅格系统  适用于小屏幕
          .brand.visible-xs
            .toggle-offscreen
              a.hamburger-icon.visible-xs(href='#')
                span
                |  
                span
                |  
                span
            |                 
            .brand-logo
              img(src='../images/logo-dark.png', height='15', alt='')
            |                 
            .toggle-chat
              a.hamburger-icon.visible-xs(href='javascript:;')
                span
                |  
                span
                |  
                span
          |             
          ul.nav.navbar-nav.hidden-xs
            li
              span.navbar-text(style='margin-left: 80px;') &#x5E84;&#x5C0F;&#x8FBE;&#x7684;&#x535A;&#x5BA2; 
          |             
          ul.nav.navbar-nav.navbar-right.hidden-xs
            li
              a(href='javascript:;')
                i.fa.fa-pencil-square-o
            |                 
            li
              a(href='javascript:;', data-toggle='dropdown')
                i.fa.fa-bell-o
                |                     
                .status.bg-danger.border-danger.animated.bounce
              |                     
              ul.dropdown-menu.notifications
                li.notifications-header
                  p.text-muted.small &#x60A8;&#x6709;&#x4E09;&#x4E2A;&#x672A;&#x8BFB;&#x6D88;&#x606F;
                |                         
                li
                  ul.notifications-list
                    li
                      a(href='javascript:;')
                        span.pull-left.mt2.mr15
                          img.avatar.avatar-xs.img-circle(src='../images/avatar.jpg', alt='')
                        |                                     
                        .overflow-hidden
                          span Sean launched a new application
                          |  
                          span.time 2 seconds ago
                    |                                 
                    li
                      a(href='javascript:;')
                        .pull-left.mt2.mr15
                          .circle-icon.bg-danger
                            i.fa.fa-chain-broken
                        |                                     
                        .overflow-hidden
                          span Removed chrome from app list
                          |  
                          span.time
                            | 4
                            | Hours ago
                    |                                 
                    li
                      a(href='javascript:;')
                        span.pull-left.mt2.mr15
                          img.avatar.avatar-xs.img-circle(src='../images/face3.jpg', alt='')
                        |                                     
                        .overflow-hidden
                          span.text-muted Jack Hunt has registered
                          |  
                          span.time 9 hours ago
                |                         
                li.notifications-footer
                  a(href='javascript:;')
                    | &#x5168;&#x90E8;&#x5DF2;&#x8BFB;
            |                 
            li
              a(href='javascript:;', data-toggle='dropdown')
                img.header-avatar.img-circle.ml10(src='../images/avatar.jpg', alt='user', title='user')
                // 基于头像的消息提示
                .status.bg-lightblue.border-white.mt5.animation--done.animated.rubberBand(data-animation='rubberBand', style='margin-top: 0px;')
                |                     
                span.pull-left &#x5E84;&#x5C0F;&#x8FBE;
              |                     
              ul.dropdown-menu
                li
                  a(href='javascript:;') &#x8BBE;&#x7F6E;
                |                         
                li
                  a(href='javascript:;') &#x8D26;&#x6237;
                |                         
                li
                  a(href='javascript:;')
                    span.label.bg-danger.pull-right 34
                    |  
                    span &#x6D88;&#x606F;
                |                         
                li
                  a(href='javascript:;') &#x5E2E;&#x52A9;
                |                         
                li
                  a(href='signin.ejs') &#x9000;&#x51FA;
            |                 
            li
              a.hamburger-icon.v2(href='javascript:;', data-toggle='layout-chat-open')
                span
                |  
                span
                |  
                span
        // 导航栏结束
        // 主板版开始
        .main-content
          .row
            // 左侧博文预览
            .col-sm-8
              .panel
                .panel-body
                  h4 Images for sublime template
                  |                             
                  .image-results
                    a.image-link(href='javascript:;')
                      img.img-responsive(src='http://placeimg.com/300/300?1', alt='')
                    |  
                    a.image-link(href='javascript:;')
                      img.img-responsive(src='http://placeimg.com/300/300?2', alt='')
                    |  
                    a.image-link(href='javascript:;')
                      img.img-responsive(src='http://placeimg.com/300/300?3', alt='')
                    |  
                    a.image-link(href='javascript:;')
                      img.img-responsive(src='http://placeimg.com/300/300?4', alt='')
              |                     
              .panel
                .panel-body
                  .search-results
                    ul.search-results-list
                      li.search-result
                        h5
                          a.text-info(href='javascript:;')
                            | Sublime - Web
                            | Application Admin Dashboard
                        |  
                        a.search-link(href='javascript:;') http://themeforest.net/user/iamnyasha
                        |                                         
                        p
                          | Maecenas faucibus mollis interdum. Aenean eu leo quam.
                          | Pellentesque ornare sem lacinia quam venenatis vestibulum.
                          | Praesent commodo cursus magna, vel scelerisque nisl
                          | consectetur et. Morbi leo risus, porta ac consectetur ac,
                          | vestibulum at eros.
                      |                                     
                      li.search-result
                        h5
                          a.text-info(href='javascript:;')
                            | Sublime - Web
                            | Application Admin Dashboard
                        |  
                        a.search-link(href='javascript:;') http://themeforest.net/user/iamnyasha
                        |                                         
                        p
                          | Maecenas faucibus mollis interdum. Aenean eu leo quam.
                          | Pellentesque ornare sem lacinia quam venenatis vestibulum.
                          | Praesent commodo cursus magna, vel scelerisque nisl
                          | consectetur et. Morbi leo risus, porta ac consectetur ac,
                          | vestibulum at eros.
                      |                                     
                      li.search-result
                        h5
                          a.text-info(href='javascript:;')
                            | Sublime - Web
                            | Application Admin Dashboard
                        |  
                        a.search-link(href='javascript:;') http://themeforest.net/user/iamnyasha
                        |                                         
                        p
                          | Maecenas faucibus mollis interdum. Aenean eu leo quam.
                          | Pellentesque ornare sem lacinia quam venenatis vestibulum.
                          | Praesent commodo cursus magna, vel scelerisque nisl
                          | consectetur et. Morbi leo risus, porta ac consectetur ac,
                          | vestibulum at eros.
                      |                                     
                      li.search-result
                        h5
                          a.text-info(href='javascript:;')
                            | Sublime - Web
                            | Application Admin Dashboard
                        |  
                        a.search-link(href='javascript:;') http://themeforest.net/user/iamnyasha
                        |                                         
                        p
                          | Maecenas faucibus mollis interdum. Aenean eu leo quam.
                          | Pellentesque ornare sem lacinia quam venenatis vestibulum.
                          | Praesent commodo cursus magna, vel scelerisque nisl
                          | consectetur et. Morbi leo risus, porta ac consectetur ac,
                          | vestibulum at eros.
                      |                                     
                      li.search-result
                        h5
                          a.text-info(href='javascript:;')
                            | Sublime - Web
                            | Application Admin Dashboard
                        |  
                        a.search-link(href='javascript:;') http://themeforest.net/user/iamnyasha
                        |                                         
                        p
                          | Maecenas faucibus mollis interdum. Aenean eu leo quam.
                          | Pellentesque ornare sem lacinia quam venenatis vestibulum.
                          | Praesent commodo cursus magna, vel scelerisque nisl
                          | consectetur et. Morbi leo risus, porta ac consectetur ac,
                          | vestibulum at eros.
                    |                                 
                    .text-center
                      ul.pagination
                        li
                          a(href='javascript:;') &larr;
                        |                                         
                        li.active
                          a(href='javascript:;') 1
                        |                                         
                        li
                          a(href='javascript:;') 2
                        |                                         
                        li
                          a(href='javascript:;') 3
                        |                                         
                        li
                          a(href='javascript:;') 4
                        |                                         
                        li
                          a(href='javascript:;') 5
                        |                                         
                        li
                          a(href='javascript:;') &rarr;
            // 右侧博文导航/推荐
            .col-sm-4
              .panel
                .panel-body
                  h3.mt0.mb0 Widget Corp.
                  |                             
                  p.text-muted Consumer electronics company
                  |                             
                  p
                    | Etiam porta sem malesuada magna mollis euismod. Donec sed
                    | odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum
                    | at eros. Praesent commodo cursus magna, vel scelerisque nisl
                    | consectetur et. Donec sed odio dui.
                  |                             
                  p
                    b CEO:
                    |  Tim Cook
                  |                             
                  p
                    b Founded:
                    |  April 1, 1976
                  |                             
                  p
                    b Founders:
                    |  Steve Jobs, Ronald Wayne, Steve Wozniak
                  |                             
                  p
                    b Stock price:
                    |  AAPL (NASDAQ) US$122.33 
                    span.text-danger -2.18 (-1.75%)
        // 主面板结束
      |     
      footer.content-footer
        nav.footer-right
          ul.nav
            li
              a(href='javascript:;') &#x56DE;&#x5230;&#x8D77;&#x70B9;
            |                 
            li
              a.scroll-up(href='javascript:;')
                i.fa.fa-angle-up
        |         
        nav.footer-left
          ul.nav
            li
              a(href='javascript:;')
                | Copyright 
                i.fa.fa-copyright
                |  
                span Gitture
                |  2016. All rights
                |                     reserved
            // <li><a href=javascript:;>Careers</a></li>
            li
              a(href='javascript:;')  Giture 
